.container {
    padding: 50px;
    border-style: ridge;
    border: 7px solid #ff4d6d;
    outline: 50px solid #fff0f3;
    font-family: "Poppins", sans-serif;
}

.person {
    padding: 50px;
    margin: 0px;
    border-style: ridge;
    border: 7px solid #ff4d6d;
    outline: 10px;
    font-family: "Poppins", sans-serif;
}