body {
    font-family: "Poppins", sans-serif;
}

.container {
    font-family: "Poppins", sans-serif;
    width: 500px;
    margin: auto;
    border-style: outset;
    border-color: #ff4d6d;
}

.searchBook {
    margin-top: 10px;
    justify-content: center;
    font-size: large;
    margin-top: 10px;
    border-style: none;
    padding: 10px;
    display: flex;
}

.searchBook input[type='submit'] {
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}

input[type='submit'][value="Confirm Reservation"] {
    margin-top: 10px;
    margin-left: 40%;
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book {
    background-color: white;
    border-style: outset;
    border-width: 10px;
    border-color: #ff4d7d;
    background-color: #ff4d6d;
    margin-bottom: 20px;
    width: 70%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer title {
    font-family: "Poppins", sans-serif;
}

.infoContainer {
    background-color: #ff8fa3;
    max-width: 100%;
    overflow: hidden;

}

.infoContainer p {
    padding: 0.5%;
}


.infoContainer img {
    max-width: 20%;
    border-radius: 10%;
    float: left;
    margin: 5px;
}

.book button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6.5%;
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}