body {
    font-family: "Poppins", sans-serif;
}

.container {
    font-family: "Poppins", sans-serif;
    width: 500px;
    margin: auto;
    border-style: outset;
    border-color: #ff4d6d;
}

.searchBook {
    margin-top: 10px;
    justify-content: center;
    font-size: large;
    margin-top: 10px;
    border-style: none;
    padding: 10px;
    display: flex;
}

.searchBook input[type='submit'] {
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}

input[type='submit'][value="Confirm Reservation"] {
    margin-top: 10px;
    margin-left: 40%;
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.selected-book {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* Add some spacing between selected books */
}

.selected-book p {
    margin-right: 10px;
    /* Add spacing between title and author */
}


.books {
    /*border-style: dashed; */
}

#book {
    border-style: dashed;
    margin: 5px;
}

#bookTitle {
    /* border-style: dashed; */
}

#bookAuthor {
    /* border-style: dashed; */
}

#bookDescription {
    /* border-style: dashed; */
}

#bookCategory {
    /* border-style: dashed; */
}

#bookReleaseYear {
    /* border-style: dashed; */
}

#bookImg {
    /* border-style: dashed; */
}

#reserveBtn {
    /* border-style: dashed; */
}