.container {
    margin-top: 500px;
    width: 500px;
    padding-right: 50px;
    margin: auto;
    border-style: none;
    border-color: #ff4d6d;
}

h1 {
    text-align: center;
    padding-right: 225px;
    width: 60%;
}

/* Form css */
.formBody {
    display: flex;
    justify-content: center;
    align-items: center;
}


fieldset {
    font-size: larger;
    margin-top: 10px;
    border-style: none;
    padding: 10px;
    display: flex;
}

label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

input {
    font-size: large;
}

textarea {
    font-size: large;
    resize: vertical;
    width: 228px;
}

input[type="submit"] {
    margin-top: 10px;
    margin-left: 40%;
    margin-bottom: 10px;
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}