.container {
    padding: 50px;
    border-style: ridge;
    border: 7px solid #ff4d6d;
    outline: 90px solid #fff0f3;
    font-family: "Poppins", sans-serif;
}

.container1 {
    margin-right: 0px;
    margin-left: 0px;
}