h1 {
    text-align: center;
}

.orders {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.order {
    padding: 0.5%;
    background-color: #ff8fa3;
    margin: 15px;
}