.container {
    width: 500px;
    margin: auto;
    border-style: none;
    border-color: #ff4d6d;
}

/* Form css */
.formBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: inline-block;
    padding: 2px;
}

fieldset {
    font-size: larger;
    margin-top: 10px;
    border-style: none;
    padding: 10px;
    display: flex;
}

label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.register input {
    font-size: large;
}

.register input[type="submit"] {
    margin-top: 10px;
    margin-left: 40%;
    background-color: #c9184a;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}