#editForm {
  display: none;
}

.container {
  width: 100%;
  margin: auto;
  border-style: none;
  border-color: #ff4d6d;
}

.Search {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  padding: 10px;
  display: flex;
}

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2000px;
}

.searchSection label {
  margin-left: 20px;
  width: 8%;
}

.searchSection input {
  margin-left: 20px;
  width: 30%;
}

.searchSection textarea {
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  min-height: 50px;
  resize: vertical;
}


.Search button {
  background-color: #c9184a;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 50%;
  margin-right: 50%;
}

.center {
  padding-left: 10%;
  padding-right: 10%;
}

.books {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  height: 1090px;
  margin-bottom: 10px;
}

.book {
  border-style: none;
  border-width: 10px;
  border-color: #ff4d7d;
  background-color: #ff4d6d;
  margin-bottom: 20px;
  width: 98%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.infoContainer {
  background-color: #ff8fa3;
  max-width: 100%;
  overflow: hidden;

}

.infoContainer p {
  padding: 0.5%;
}


.infoContainer img {
  max-width: 20%;
  border-radius: 5%;
  float: left;
  margin: 5px;
}

.book button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #c9184a;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  float: right;
}

.edit {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ff4d6d;
  border-style: none;
  border-width: 10px;
  border-color: #ff4d7d;
  margin-left: 5%;
  margin-right: 5%;
}

.editSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.edit form {
  background-color: #ff8fa3;
  padding: 10px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.editSection label {
  margin-left: 20px;
  width: 8%;
}

.editSection input {
  margin-left: 20px;
  width: 30%;
}

.editSection textarea {
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  min-height: 50px;
  resize: vertical;
}


.edit button {
  background-color: #c9184a;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 50%;
  margin-right: 50%;
}



/* basket and checkout */

.checkOut {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ff4d6d;
  border-style: none;
  border-width: 10px;
  border-color: #ff4d7d;
  margin-left: 10%;
  margin-right: 10%;
}

.checkOut form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #ff8fa3;
  outline: 10px solid #ff8fa3;
}

input[type='submit'][value="Confirm Reservation"] {
  margin-top: 10px;
  background-color: #c9184a;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.basketAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff4d6d;
  border-style: none;
  border-width: 10px;
  border-color: #ff4d7d;
  margin-left: 10%;
  margin-right: 10%;
}


.basketAll h2 {
  text-decoration: underline;
}

.basket .selected-book {
  display: flex;
  align-items: center;
  background-color: #ff8fa3;
  margin: 10px;
  /* width: 90%;
    height: 90%; */
  padding: 5px;

}

.basket .selected-book p {
  margin: 10px;
  padding: 5px;
}

.basket button {
  margin-left: 40%;
  margin-bottom: 10px;
}